@media all {
	div#processnav_sub,
	div#processnav { padding-top: 15px; margin-bottom: 1em; }	
	
	div#processnav_sub ul,
	div#processnav ul{ background: url('../../img/myp_prozess.png') right top no-repeat; position:relative; overflow:hidden; height: 6em;}
	
	div#processnav_sub ul.finished,
	div#processnav ul.finished{ background: url('../../img/myp_prozess.png') left top no-repeat; }
   
    div#processnav_sub ul li,
	div#processnav ul li { 	float:left; position:relative; padding: 15px 9px 0 0; list-style: none; height: 20px; color: #999; background-image: url('../../img/myp_prozess.png'); background-repeat: no-repeat; background-position: 99.8% 0%; }

	div#processnav_sub ul li.first,
	div#processnav ul li.first {  background-position: left top;}

	div#processnav_sub ul li.last,
	div#processnav ul li.last{ float: right; }  

	div#processnav_sub ul li.active a,
	div#processnav ul li.active a,	
	div#processnav_sub ul li.active,
	div#processnav ul li.active { color: #f08000; font-weight: bold; background-position: 50.3% 0%; }         
		
div#processnav_sub ul li.activeback,
div#processnav ul li.activeback { color: #f08000; font-weight: bold; background-position: 50.3% -284px; }
	
	div#processnav_sub ul li.visited a,
	div#processnav ul li.visited a, 
	div#processnav_sub ul li.visited,
	div#processnav ul li.visited { color: #f08000; background-position: -1px 0; font-weight: normal;} 

div#processnav_sub ul li.visitedback,
div#processnav ul li.visitedback { color: #f08000; background-position: 50.3% -140px; font-weight: normal;}

div#processnav ul li.activeback a,
div#processnav_sub ul li.activeback a,
div#processnav ul li.visitedback a,
div#processnav_sub ul li.visitedback a { color: #f08000; }

	
	div#processnav li li{ margin-top:5px }
	/* Processnav Sub */
	
	div#processnav_sub ul { position:absolute; top:0; margin-top:0; left: 0; background: #fff; width: 593px; padding-left:10px; height: 3.5em;}
	
	div#processnav ul ul { background: none; position:absolute; left: 50%; width: 593px;}  
	div#processnav_sub ul li,
	div#processnav ul ul li {  background-image: url('../../img/myp_prozess_sub.png'); color: #999; font-weight: normal; width: auto;}
	div#processnav_sub ul li.last,
	div#processnav ul ul li.last{ background-position: 100% 0%; float: left;}
	div#processnav_sub ul li.active,
	div#processnav ul ul li.active{ width: auto;}

}