@media all {

	body { 
		background: #d4d4d4;
		leftMargin: 0;
		topMargin: 0;
		marginwidth: 0;
		marginheight: 0;
	}
	
	.bg1 {
		border: 0; 
		border-collapse: separate; 
		border-spacing: 0px;
		padding: 0; 
		width: 100%; 
		FONT-SIZE: 11px;
	}
	
	.bg2 {
      	border: 0;
      	border-collapse: separate; 
		border-spacing: 0px;
		padding: 0;
		width: 704px;
		HEIGHT: 666px; 
		FONT-SIZE: 11px; 
	}
   	
}