/* 
	2008 by namics ag, Noel Bossart
*/

@media all {

	/* general definition */
	.textarea	 			{ margin: 0; width: auto; margin-bottom: 10px; height: 100px; }   
		
	div.labelbox label		{ float: left; text-align: right; display: block; padding-right: 10px; } 
	dl.labelbox				{ width: auto; padding: 3px 0; }
	fieldset .labelbox		{ padding: 5px 0;}
		   
	.button					{ float: none; }                                                          
	.buttonHorizontal		{ float: none; margin-top: 5px; }
	.buttonLeft				{ float: none; margin-left: -5px; } 	
	
	/* sub-variations */  
	.textareaLarge1			{ width: 558px; height: 50px; }
	.textareaLarge2			{ width: 558px; height: 75px; }
	.textareaLarge3			{ width: 558px; height: 100px; }
	
	/* variations */ 
	
	div.labelbox1 label		{ width: 90px; } 
	div.labelbox2 label		{ width: 100px; } 
	div.labelbox3 label		{ width: 115px; } 
	div.labelbox4 label		{ width: 134px; }
	div.labelbox5 label		{ width: 165px; }  
	div.labelbox6 label		{ width: 190px; }    
	
	
	.labelboxWide div		{ margin-bottom: 5px; margin-top: 5px; }  
	.labelboxWide input,	
	.labelboxWide select,	
	.labelboxWide textarea  { margin-top: -2px; }   
	
	dl.labelbox1 dt 		{ width: 100px; }
	dl.labelbox2 dt 		{ width: 110px; }
	dl.labelbox3 dt 		{ width: 125px; }
	dl.labelbox4 dt 		{ width: 134px; }
	dl.labelbox5 dt 		{ width: 175px; }
	dl.labelbox6 dt			{ width: 200px; } 
	                		
	dl.labelbox1 dd 		{ /*margin-left: 100px;*/ margin-left: 0; padding-left: 100px !important;}
	dl.labelbox2 dd 		{ /*margin-left: 110px;*/ margin-left: 0; padding-left: 110px !important; }
	dl.labelbox3 dd 		{ /*margin-left: 125px;*/ margin-left: 0; padding-left: 125px !important; }
	dl.labelbox4 dd 		{ /*margin-left: 134px;*/ margin-left: 0; padding-left: 134px !important; }
	dl.labelbox5 dd 		{ /*margin-left: 175px;*/ margin-left: 0; padding-left: 185px !important; }
	dl.labelbox6 dd			{ /*margin-left: 200px;*/ padding-left: 200px !important; }                                             
	
	dl.labelboxSmall,
	dl.labelboxSmall dt,
	dl.labelboxSmall dd		{ line-height: 18px; padding: 0;}     
	
	dl.labelboxWide,
	dl.labelboxWide dt,
	dl.labelboxWide dd		{ line-height: 21px; padding: 5px 0;}

	.labelboxWide button	{ margin-top: -5px; }
	
	dd.currency						{ position:relative; }
	dd.currency span.currencyleft 			{ position:absolute; right:65px; _right:250px; top:0; }
	dd.currency span.priceright 			{ position:absolute; right:0; _right:185px; top:0; }
	
	dd span.priceleft 		{ border-right:16px solid #F9F9F9; margin:0; }
	dd span.priceright 		{ margin:0;  }
	
	tr.cancelrow td			{ background:#DFDAD2; color:#99948D; }
	
	.listwrap { float:left; width:510px;display:inline; margin-top:10px;}
	.listbox { float:left; width:170px;display:inline; height:28px; }
	.listwrap input { float:left; width:auto; margin:0 5px 5px 0; }
}