/*
	 2008 by namics ag, Noel Bossart
	 Modification by consultas. Added classes previewNo and previewImageNo.
*/

@media all {

	/* general definition */
	.preview	 			{ display: block; float: left; width: auto; font-size: 11.5px; border: 1px solid #0a5599; background-color: #DFDAD2; background-position: top right; background-repeat: no-repeat; cursor:pointer; }
	.preview h4			 	{ margin: 7px 0 0 7px; padding:0; background-color: transparent; line-height: 1em; font-weight: bold;font-size: 1em; color: #fff; }
	.preview h4 img   		{ margin-right: 7px; vertical-align: text-bottom; }
	.preview .box			{ margin: 7px; background-color: #fff; width: 130px;  min-height:100px; _height:100px; } 
	
	/* sub-variations */  
	
	.preview .boxFlex		{ display: inline; float: left; width: auto; }
	
	/* variations */
	.previewDoc				{ padding-bottom: 5px; }
	.previewDoc .box		{ padding-top: 5px; margin-bottom: 2px; }   
	.previewDoc h4			{ margin-bottom: 7px; }  
	
	.previewDoc .box img	{ margin-left: 5px; margin-bottom: 3px; vertical-align: middle; }
    
	.previewImage 			{ background-image: url(../../../img/icon_loupe2.gif); }
	.previewImage .box		{ min-height: 75px; text-align: center; } 
	.previewImage .box img	{ margin: 7px; }
	
	/* added by consultas */
	/* to display in the insertion print page no material preview */
	.previewNo	 			{ display: block; float: left; width: auto; font-size: 11.5px; border: 1px solid #0a5599; background-color: #DFDAD2; background-position: top right; background-repeat: no-repeat;}
	.previewNo h4		 	{ margin: 7px 0 0 7px; padding:0; background-color: transparent; line-height: 1em; font-weight: bold;font-size: 1em; color: #fff; }
	.previewNo h4 img  		{ margin-right: 7px; vertical-align: text-bottom; }
	.previewNo .box			{ margin: 7px; background-color: #fff; width: 130px;  min-height:100px; _height:100px; } 
	.previewImageNo .box	{ min-height: 75px; text-align: center;} 
	.previewImageNo .box img { margin: 7px; }
	
	.previewEmpty			{ background-image: url(../../../img/icon_loupe2.gif); cursor: auto;} 
	.previewEmpty .box		{ background-color: #E9E9E9; min-height: 75px; }    
	
	.preview .new			{ background-color: #d5ffba !important; }    
	
	.previewMini			{ float: none; margin: 10px; border: none; background: none; text-align: center; cursor: auto; } 
	.previewMini img   		{ float: none; margin: 10px; border: none; background: none; text-align: center; cursor: pointer; }
	
	.onlineheightbg,
	.printheightbg 			{ background: #DBDBDB url(../../../img/linkheight_bg.gif) 117px bottom no-repeat; _background-position: 123px bottom; border-right:1px solid #736f6a; width:648px; padding: 0 0 1px 0; }
	.printheightbg	 		{ background: #DBDBDB url(../../../img/linkheight_bg.gif) 163px bottom no-repeat; }
	
	.onlinewidelayout		{ 
		float: left;
		width: auto; 
		display: inline;
		padding-bottom:10px;
	}
	.onlinewidelayout .floatedmed	{ 
		width:480px; 
		margin-bottom:0;
	}
	
	.onlinewidelayout .floatedmed .link	{ 
		margin-bottom:0;
		padding-bottom:0;
	}
	
	.onlinewidelayout .floatedmed div.tobefilled	{ 
		width:438px;
		min-height:128px;
		_height:128px;
	}
	
	.onlinewidelayout .floatedmed div.tobefilled p	{ 
		width:346px;
	} 
	
	.onlinewidelayout .preview	{ 
		border: none; 
		background:none; /*#DFDAD2*/
		cursor: default;
		padding: 7px;
		width: 135px;  
		min-height:100px; 
		_height:100px;
	}
	
	.onlinewidelayout .preview	h4 { 
		color: #000;
	}
	
	
	.onlinewidelayout .preview .box		{ 
	display:none; 
		 
	} 
}