/* CSS
 * jquery.tooltip
 * Elliot Lings
 * www.elliotlings.com/jquery/tooltip/
 * modification by lv
 */
.tooltip {
	color: #fff;
	width: 520px;
	position: absolute; z-index: 9999; display: block; top: 266px; visibility: visible; left: 531px; 
}
.tooltip .tooltip-content h5 {
	font-size: 13px;
	font-weight: normal;
	margin-bottom: 6px;
}
.tooltip .tooltip-content p {
	padding: 8px 0 5px 0;
}
.tooltip td {
	background-image: url('../../img/tooltip/corners.png');	
}
.tooltip .tl {
	background-position: top left; 
	height: 10px;
	width: 10px;
}
.tooltip .tc {
	background-image: url('../../img/tooltip/bg.png');
	background-repeat: repeat;
	height: 10px;
}
.tooltip .tr {
	background-position: top right;
	height: 10px;
	width: 10px;
}
.tooltip .ml {
	background-image: url('../../img/tooltip/bg.png');
	background-repeat: repeat;
	width: 10px;
}
.tooltip .mc {
	background-image: url('../../img/tooltip/bg.png');
	background-repeat: repeat;
}
.tooltip .mr {
	background-image: url('../../img/tooltip/bg.png');
	background-repeat: repeat;
	width: 10px;
}
.tooltip .bl {
	background-position: bottom left;
	height: 10px;
	width: 10px;
}
.tooltip .bc {
	background-image: url('../../img/tooltip/bg.png');
	background-repeat: repeat;
	height: 10px;
}
.tooltip .br {
	background-position: bottom right;
	height: 10px;
	width: 10px;
}
.tooltip.n {
	background: url('../../img/tooltip/pointer-n.png') bottom center no-repeat;
	padding-bottom: 24px;		
}
.tooltip.s {
	background: url('../../img/tooltip/pointer-s.png') top center no-repeat;
	padding-top: 24px;
}
.tooltip.e {
	background: url('../../img/tooltip/pointer-e.png') left center no-repeat;
	padding-left: 24px;	
}
.tooltip.w {
	background: url('../../img/tooltip/pointer-w.png') right center no-repeat;
	padding-right: 24px;	
}
.tooltip ul {
	margin: 20px;	
}
