@media all {

	body { font:69%/120% Arial, sans-serif; color:#2a2a2a; background:#A7A7A7 url(../../img/bg_myp.gif) repeat-x scroll left top; }
    body#contentPopup { background:#fff; padding: 15px; }
	/* Links */
	a { text-decoration:none; outline: none; }
	
   	a:link, 
	a:visited { color:#0a5599; }
	a:hover { color:#0068cc; }
	
	
	
/* Headers */
	fieldset { /*width:573px;*/ border:1px solid #99948d; padding:8px 0 8px 0;}
	#editSpecialRequirement fieldset { width:558px;}
	fieldset table.forms { clear: left; }
	legend { margin:0 0px; padding:0 5px; background-color:#fff; color:#736F6A; font-size:12px; font-weight:bold; }
	.legendselect { float:left; width:320px; margin-top:-19px; margin-left:160px; font-size:12px; margin-bottom: 10px; }
	h1 { font:18px/120% HelveticaNeueThinExtended, HelveticaNeue, Helvetica, Arial, sans-serif; margin:36px 0 12px; color:#000; }

	h2, 
	h3, 
	h4, 
	h5,
	h6 { font:bold 16px/120% Arial, sans-serif; line-height:160%; color:#736f6a; margin:0 0 5px 0; padding:0; }
	
	.boxbg h2 { /*line-height: 0;*/ margin-bottom: 10px; margin-right: 20px;}
	.boxbg h5 { margin-bottom:4px; }
	h3 { margin: 0; font-size: 12px; color: #000; }

	h4, 
	h5 { font-size:12px; }
	h6 { font-size:12px; font-weight:normal; }
	
	h5 { margin: 5px 0 0 0; }
	table.forms h5 { font-size: 12px; font-weight:bold; margin: 5px 0 5px 0; }
	.print h5 {margin-bottom:4px;}
	h1 a.navicons { float: right; font-size: 12px; padding-left: 20px; }
	
	a.loupe, div.loupe {float:left; width:auto; position:relative; border:1px solid #0a5599; }
	div.loupe a.loupe {border:0; }
	div.loupe { width:142px; min-height:153px;_height:153px; }
	a.loupe span, div.linksa a.loupe span { position:absolute; top:-1px; right:-1px; cursor:pointer; }
	
	a#test { border:2px solid #ff3344;}
	a.loupe img.loupe { position:absolute; top:-1px; right:-1px; cursor:pointer; }
	a.loupe img.imgcenter { text-align:center; }
	a img { border:none; }
	
	div.loupe strong { color:#fff; margin:5px 0 5px 5px; font-size:11px; display:block;}	
	div.loupe div.linksa, div.loupe div.linksb { background-color:#fff; width:122px; margin:0 0 2px 5px; padding:0 5px 15px 5px; overflow:hidden;}
	div.loupe div.linksb { margin-bottom:5px; }
	div.loupe div.linksa a, div.loupe div.linksb a { text-decoration:underline;}
	div.loupe div.linksa img, div.loupe div.linksb img {margin:6px 0 -4px -1px; border-right:3px solid #fff;}

/* Tables */
	table { border-spacing: 0; padding:0;  /*margin-top:18px;*/ }
	div.link table { border-collapse:collapse; /*ben 29.08*/ }
	th, 
	td { text-align:left; vertical-align:top; }
	th p { font-weight: normal; color: #000;}
	td, 
	td * { font:12px/150% Arial, sans-serif; }
	.forms h2 { font:bold 16px/120% Arial, sans-serif; line-height:160%; color:#736f6a; margin:0 0 5px 0; padding:0; }
	.forms h3 { font-size:12px; font-weight:bold; line-height:160%; margin:0 0 5px 0; padding:0; color: #000; }
	.hidden { display:none; }
	.hidden2 { visibility: hidden; }
	
	.clear2  { clear:both; line-height:10px;}
	.nowrap { white-space:nowrap; }
	.foldableHandle { cursor:pointer; }
	.foldableContainer { cursor:default; }


/** ********************* layout ********************* */ 
	#main { position:relative; height:auto; margin:0pt auto; max-width:80em; min-width: 960px; _width:80em; _width:960px; }

/* header */ 
	#header { position:relative; overflow:visible; width:100%; margin:0 0 0 0; /*background:transparent url(../../img/bg_header.png) repeat-x;*/ background-color: #fff; border-bottom:1px solid #c8c8c8; height:76px; }
	#header a { color:#616161;}
	#header a:hover { color:#2a2a2a; background-color:transparent; }
	#header .lang a { color:#2a2a2a; }
	a.langActive { font-weight:bold; }
	#header img.logo { float:left; width:auto; margin:12px 0 0 24px; }
	#header p { /*float:left; width:35em; margin-left:38px; margin-top:44px;*/ position:absolute; top:44px; left:231px; width:50em; }
	#meta { float:right; text-align:right; width:40em; height:51px; margin-right:15px; margin-top:8px;}
	#meta ul { display:inline; padding-left:18px; }
	#meta li { display:inline; list-style-type:none; /*padding-right:8px; background:url(../../img/sep.png) center right no-repeat;*/  }
	#meta li span { background:url(../../img/sep.png) center right no-repeat; margin:0 5px; }
	/*#meta li.last { padding-right:0; background-image:none; }*/
	#meta { background:transparent url(../../img/logo_header.gif) bottom right no-repeat; margin-top:8px; width:40em; height:51px;  }
	#wrap {  background:#fff url(../../img/bg_pattern.png) repeat-y; }

	#loginLinks { visibility :hidden; }
	
/* mainnav */ 
	#mainnav { float:left; margin-left:0; min-height:500px; }
	#kontakt, #kontaktList { padding: 0 12px 0 15px; margin: 20px 0 10px 0; }
	#kontakt h3, #kontaktList h3 { font:bold 12px/120% Arial, sans-serif; color:#666; margin: 0 5px 0 10px; font-weight:normal; padding:0 0 5px 0; }
	.kont_box { display:block; width: 163px; background: url(../../img/kont_bg.gif) 0 0 no-repeat; padding-top:5px; }
	.kont_bot { background:url(../../img/kont_bg.gif) bottom left no-repeat; padding-bottom: 10px; }
	.kont_bot p { padding: 2px 0 0 10px; color: #666; }
	.kont_bot h4 { margin:0; padding: 5px 0 0 10px; color: #0A5599; font-size:12px; font-weight:normal; }
	.kont_bot img { display:block; margin:-5px auto 0 auto; }
/* content */ 
	#content { float:left; display:inline; position:relative; margin-left:40px; height: auto; min-height:300px; width: 690px; padding-bottom: 30px;}
/* contentLogin */ 
	#contentLogin { float:left; width:auto; display:inline; position:relative; margin-left:40px; height:100%; min-height:300px; margin-left: 230px; }

/* Definition Lists */
	dl { margin: 0; padding:10px 0; }
	.noedit .message,
	.edit dl,
	.noedit dl { width:608px; }
	dl img { margin-top: 3px; }
	dt { display:block; float:left; text-align:right; color:#99948d; line-height:20px; padding:0; margin-right:10px; border-top:1px solid #f0ede9; clear:left; }
	.boxbg dt { width:230px;/*width:5.8em;*/ }
	.objectsearch dt { width:89px; }
	
	dd { display:block; padding:0 0 0 10px; color:#000; line-height:20px; border-top:1px solid #f0ede9; }
	.boxbg dd {  margin-left:230px; }
	dd.spaceleft { margin-left: 230px; }
   

	.link, 
	.linkhover { float:left; width:auto; display:inline; margin:0 0 10px 0; background-color:#fff; }
	.linkhover { cursor: pointer; background-color:#edf2f7; }
 
	.noedit, 
	.edit { border:1px solid #0a5599; padding:5px 20px 0 20px;  *+padding:5px 19px 0 20px; /*width:608px;*/ /*font-size: 11.5px;*/}
	.onlineheightbg .noedit, .onlineheightbg .edit, .printheightbg .noedit, .printheightbg .edit { border-right:0; border-bottom:0; }
	.noedit { border-color: #736f6a; background-color: #f9f9f9; }
	.boxfix {width: 445px !important;}
	.edit { background-image: url(../../img/icon_edit.gif); background-position: right top; background-repeat: no-repeat; cursor: pointer; }
	.abobox { border-top:1px solid #d4cdc3; border-bottom:1px solid #d4cdc3; background-color:#f7f6f2; float:left; width:620px; display:inline; margin-bottom:6px; padding:10px 15px;}
	.abobox h3 {margin-bottom:5px;}
	.abobox h3 img { margin-bottom:-2px;}
	.aboboxleft { float:left; width:320px; margin-right:45px;}
	.aboboxright { float:left; width:255px;}
	.aboboxsingle { float:left; width:345px; display:inline; margin:25px 0 0 0;}
	.aboboxsingle img {float:left; width:auto; margin:0 10px 10px 10px;}
	.previewleft { float:left; width:160px; margin-right:25px;}
	.previewright { float:left; width:435px; padding-bottom:30px; min-height:120px; _height:120px; position:relative;}
	.previewright ul {margin:.8em 0; padding:0;}
	.previewright ol {margin: 0 0 0 17px;}
	.previewright li { margin: 0 0 .3em 0; padding: 0 0 .05em .8em; list-style: none; background: url(../../img/bullet.gif) 0 1px no-repeat; height:1%; }
	.previewright li.nobg { background: none; padding: 0;}
	.previewright button { position:absolute;right:0; bottom:0;}
	
	.floated, .floatedsml, .floatedmed {float:left; width:308px; _display:inline; margin: 0; padding:0; }
	.floated, .floatedsml, .floatedmed { *+overflow: hidden; *+float: none;}
	.floatedsml {width:100px;}
	.floatedmed {width:530px;_width:480px;}
	.print .floatedmed { width:485px; margin-left: 17px; *+margin-left: 0; *+padding-left: 17px;}
	.print .floatedmedsingle { margin-left: 163px; width:484px; *+width:485px; *+margin-left: 0; *+padding-left: 163px;}
	.online .floatedmed { margin-left: 25px; *+margin-left: 0; *+padding-left: 25px;}
	.online .floatedmedsingle { margin-left: 117px; _margin-left: 123px; }
	.floatedmed dl {width:488px; }
	.print .floatedmed dl {width:444px; }
	.floatedmed div.tobefilled, 
	.floatedmed div.tobefilledlrg {width:488px; min-height:100px; _height:100px;}
	.print .floatedmed div.tobefilled, 
	.print .floatedmed div.tobefilledlrg { width:444px;  min-height:70px; _height:70px;}
	.floatedmed div.tobefilledlrg {min-height:120px; _height:120px;}
	.print .floatedmed div.tobefilledlrg {min-height:110px; _height:110px;}
	.floatedmed div.tobefilled, 
	.floatedmed div.tobefilledlrg { text-align:center;position:relative;}
	.floatedmed div.tobefilled p, 
	.floatedmed div.tobefilledlrg p {position:absolute;top:35%;left:0;width:400px; margin:0 44px;}
	.print .floatedmed div.tobefilled p, 
	.print .floatedmed div.tobefilledlrg p {position:absolute;top:40%;left:0;width:356px; margin:0 44px;}
	.floatedmed dt {width:114px;}
	.floatedmed dd {margin-left:114px;}
	
	.spacer { float:left; width:20px; display:inline;}
	.spacer2 { float:left; width:25px; display:inline;}
	.floated h4 { margin:5px 5px 0 0;}
	.floated dl { width:260px;}
	.floated dt { width:100px; display:block; text-align:right; color:#99948d; line-height:20px; padding:0; margin-right:10px; border-top:0; border-bottom:1px solid #736f6a; }
	.floated dd { margin-left:100px; display:block; line-height:20px; padding:0 0 0 10px; margin-right:0; border-top:0; border-bottom:1px solid #736f6a; }
	.floatedmed dt.subtitle {text-align:left; font-weight:bold; color:#99948d;}
	.floatedmed h4 { margin-top:5px; color:#99948d; width:480px;}
	.print .floatedmed h4 { width:440px;}
	
	.floatedmed dd span {margin:0 2px 0 5px; vertical-align:top;}
	.floatedmed dd span.spanleft { margin-right:90px;}
	.floatedmed dd div.imagebox { float: left; width: 185px; margin-bottom:10px; }
	.floatedmed dd div.imagebox img.immoimg { float: left; }
	.floatedmed dd div.imagebox span { float: left; width:138px; line-height:18px; }
	
	.floated button {
		margin-right:3px;
	}
	/* Fixed widths */
	dl.width150 dt, 
	dl.width100 dt, 
	dl.width50 dt { width: auto; color:#000; }
	dl.width50 dd { margin-left: 50px; }
	dl.width100 dd { margin-left: 100px; }
	dl.width150 dd { margin-left: 150px; }

	/* Multicolumn DL */
	dl.rowright,
	dl.rowleft { float: left; width: 355px; }
	dl.rowright { width: 255px; }
	dl.rowright dt,
	dl.rowleft dt { width: 75px; }
	dl.rowleft dd, dl.rowright dd { margin-left: 75px; }
	table.objectdata { 
			width: 610px;
			margin: 10px 0;
			border-collapse: separate !important;
	}
	table.objectdata td { 
		border-top:1px solid #F0EDE9;
		text-align:left;
		padding-left:10px;
		min-height:20px;
		_height:20px;
	}
	table.objectdata td img { 
		padding: 3px 0 0 0;
	}
	table.objectdata td.main { 
		width:270px;
	}
	table.objectdata td.jobmain { 
		width:245px;
	}
	table.objectdata td.title { 
		color:#99948D;
		text-align:right;
		width:75px;
		padding-left: 0;
	}
	
	table.objectdata td.jobtitle {
		color:#99948D;
		text-align:right;
		width:100px;
		padding-left: 0;
	}
	
	 
	.tbpreview { float:left; width:573px; margin-bottom:30px; border-top:1px solid #f0ede9; border-bottom:1px solid #f0ede9;}
	.tbpreview div {float:left;width:60px;}
	.tbpreview div img {margin:4px 0;}
	.tbpreview dl { float:left; width:513px; }
	.tbpreview dl dt { width:133px; border:0; line-height:16px;}
	.tbpreview dl dd {margin-left:133px; border:0; line-height:16px; }
	
	dl.jobsrowleft { float: left; width: 244px;}
	dl.jobsrowleft dt { width: 100px; }
	dl.jobsrowleft dd { margin-left: 105px; width: 100px; }
	
	dl.jobsrowright { float: left; width: 244px; }
	dl.jobsrowright dt { width: 100px; }
	dl.jobsrowright dd { margin-left: 105px; width: 100px; }
	
/* Data Table */
	table.data { width:690px; margin:0 0 10px 0; border-collapse:collapse; }
	table.medium { width:655px; }
	.boxgb table.data { margin:0; }
	table.data th { background:transparent url(../../img/tableheaderbg.gif) no-repeat 50% 0%;  color:#736f6a; padding:9px 0 6px 0; }
	table.data tr.header2 th { background-image:url(../../img/tableheaderbg-hell.gif); border-bottom:5px solid #f0ede9;}
	table.data th.headerleft { background-position:0 0; width:5px; }
	table.data th.headerright { background-position:right top; width:5px; }
	table.data td { padding:14px 5px 2px 0; border-top:1px solid #fff; background:transparent url(../../img/tablecolumnbg.gif) 0 0 repeat-x;  /*min-height:36px;*/ line-height:120% !important;  }
	table.data tr.nobg td { background:#f7f6f2; border-top-color: #f7f6f2; padding-top:0; }
	table.data tr.bgdark td { background:transparent url(../../img/tablecolumnbg-total.gif) 0 0 repeat-x; border-bottom:8px solid #fff; }
	table.data tr.bgdark2 td { background:#f7f6f2; border-top-color: #f7f6f2; border-bottom:8px solid #fff; padding-top:4px; padding-bottom:8px;}
	table.data tr.bgdarksimple td { border-top:8px solid #fff; border-bottom:0; background:none; background-color:#f3f3f3; }
	table.data td a{  line-height:120% !important;  }
	
	
	table.data td button { margin:-2px 0 2px 0; }
	table.data td a { color:#0a5599; font-weight:bold; }
	table.data td.extendendrow { background: none; background-color: #f8f6f2; border-top-color: #fff; display:none; }
	table.data .footerrow td { background:transparent url(../../img/tablefooterbg.gif) center top no-repeat; padding:20px 0 0 0; height:27px; }
	table.data .footerrow2 td { background:transparent url(../../img/tablefooterbg_grey.gif) center top no-repeat; padding:10px 0 0 0; height:27px; font-weight:bold; }
	table.data .footerrowtotal td { background:transparent url(../../img/tablefooterbg.gif) center top no-repeat; padding:20px 0 0 0; height:27px; font-weight:bold; }
	table.data .sortrow th.textright, table.data .footerrow2 td.textright, table.data .footerrowtotal td.textright, table.data tr.bgdark td, table.data tr.bgdark2 td { padding-right:5px !important; }
	
	table.data td.functions { }
	
	.noedit table td,
	.edit table td { /*font-size: 11px;*/ line-height: 20px;}
	.noedit table th,
	.edit table th {font-weight: normal; color: #99948D; line-height: 20px;}
/* Nasty hack for having scalable rounded corners*/ 
	table.data td.footerleft span { background: transparent url(../../img/bg_corners.gif) bottom left no-repeat; display:block; width:5px; height:100%; }
	table.data td.footerright span { background: transparent url(../../img/bg_corners.gif) bottom right no-repeat; display:block; height:100%; }

/* Table sorting */ 
	.sortrow th { vertical-align:bottom !important; } /* strange, but this works only when generic */ 
	.sortrow span { display:block; padding: 6px 0; margin-right:5px; padding-left:5px;}
	.sort a { display:block; overflow: hidden; background: transparent url(../../img/icon_sort.gif) top right no-repeat; padding:3px 0 0 1px; font-weight:bold; line-height:1.5em; height:20px; overflow-x:hidden; color:#736f6a !important; }
	.nosort { color:#736f6a; }
	.ascend a, 
	.descend a { color:#4D4B49 !important; }

	span.sort { background:transparent url(../../img/bg_btnLi_sort.gif) top left no-repeat; padding:0 0 0 5px; margin-bottom:2px; }
	.ascend a { background-image:url(../../img/icon_sort_down.gif) }
	.descend a { background-image:url(../../img/icon_sort_up.gif) }
	
	th.header span.sort { background:transparent url(../../img/bg_btnLi_sort.gif) top left no-repeat; padding:0 0 0 5px; margin-bottom:2px; }
	th.headerSortUp .sort a { background-image:url(../../img/icon_sort_up.gif); }
	th.headerSortDown .sort a { background-image:url(../../img/icon_sort_down.gif); }
	
	p { padding:0 20px 0 0; margin:0; }
	.logobox { float:left; width:272px; display:inline; min-height:134px; _height:130px; margin: -5px 40px 0 0; padding: 12px 0 10px 15px; background-color:#fff; }
	.logobox h2 { width:260px; margin:0 0 0 0; padding:0; line-height:normal; font-size:12px; }
	.logobox dt { width:80px;}
	.logobox dd { margin-left:80px;}
	
/* Messages */
	.messageok, 
	.messageerror, 
	.messagecritical, 
	.messageinfo { width: 100%; background-color:#ffdbdb; color:#802525; margin:0 0 20px 0; padding: 12px 0; min-height:22px; _height:22px; }

	.messageerror { background: #ffdbdb url(../../img/msg_icon_error_medium.gif) 20px 10px no-repeat; width: 100%; }
	.messageerror h2 { color:#802525; padding: 0; margin: 0; margin-left: 67px; display: inline; }
	#TB_ajaxContent table.forms td { padding: 5px 4px; }
	#TB_ajaxContent .message p { padding-top: 0; }
	#TB_ajaxContent .messageerror p { padding: 0; margin: 0; margin-left: 67px; margin-right: 20px; }
	.messageextreme { float:left; width:725px; position:relative; top:0; left:-40px; }
	.messageok { background-color:#d6ecc8; color:#306111; }
	.messageinfo { background-color:#e5e5ff; color:#181885; }

	.messageok img, 
	.messageerror img, 
	.messagecritical img, 
	.messageinfo img { float:left; width:auto; display:inline; margin:0 16px 16px 39px; }

	.roundcont { width: 460px; background-color: #DBDBDB; color: #fff; margin: 20px 0; }
	.roundtop { background: url(../../img/tr.gif) no-repeat top right; }
	.roundbottom { background: url(../../img/br.gif) no-repeat top right; }
	img.corner { width: 15px; height: 15px; border: none; display: block !important; }

/* Login */	
	.login { background: #FFFFFF !important; }
	#loginLinks li { display: inline; list-style-type: none; padding-right: 10px; }
	#loginBox { background-color:#F0EDE9; width: 456px; height: 200px; margin: 25px 0; }

	element.style { width:99%; } /* Not valid i guess */
	.b { font-weight:bold; font-size:14px; color: #736F6A; display:block; margin:4px 0 -8px 0;}
	.loginField { padding:10px; margin-left: 10px; }
	.loginField p{ padding: 5px 0 10px 0; color: #000; }
	#loginLinks { margin-bottom:20px;}
	
/* content popup */ 
	#TB_window { background:#fff; }
	#TB_window h1 { margin:0 0 10px 0; padding:0; }
	
	#TB_window strong { font-weight:bold; }
	
	ul.bullet, dd ul { padding: 0; margin:.3em 0 0 0; } 
	ul.bullet li, dd ul li { padding: 0 0 .05em .8em; margin: 0 0 .3em 20px;} 
	/*ul.bullet li, dd ul li { padding: 0 0 .05em .8em; margin: 0 0 .3em 0; list-style: none; background: url(../../img/bullet.gif) 0 3px no-repeat;} */
	.textright { text-align:right; }
	.textcenter { text-align:center; }

/* Form Styles */ 
/*	label { color:#99948d;margin-right:2px; cursor: pointer;}
	label.nopointer { cursor:auto;}
	*/
	.clickable {cursor: pointer;}
	.bold {font-weight:bold;}
	
	#vorschau {background-color:#ccf;}  
	
	.labelradiocheck { color:#000000;position:relative;top:-1px; margin-left:2px; }
	.labelfunction { font-weight: bold; }
	.labelselect { color:#000000; }

	input[type="checkbox"], 
	input[type="radio" class="radiobtn"] { margin-right:3px; }

	option { padding:1px 0 1px 3px; }

	textarea, 
	select { width: 206px; overflow:auto; }
	
	textarea.basic {
		 width:578px;
		 margin:20px 0 10px 0;  
		 height:79px;
	}  
    input { min-height: 18px; }
    .radiobtn, .chkbox, input[type="checkbox"], input[type="radio"]  { min-height: 10px; }
/*	input {padding-left:3px;}
	
	input,
	textarea, 
	select { border-top:1px solid #333; border-right:1px solid #b3b3b3; border-bottom:1px solid #ccc; border-left:1px solid #666; }
*/	
	.radiobtn, .chkbox { border:0; }
	.chkboxblock { float:left; width:auto; margin:0 5px 8px 0; }
	
	.sizexxsml { width:25px; }
	.sizexsml { width:40px; }
	.sizesml { width:50px; }
	.sizedate { width: 70px; }
	.sizexxmed { width: 90px; }
	.sizexmed { width: 110px; }
	.sizemed { width:144px; }
	.sizelrg { width: 201px; }
	.sizexlrg { width: 250px; }
	.sizexxlrg { width: 320px; }
	.sizexxxlrg { width: 450px; }
	.login input.text { margin-top:0; }
	.searchbox input { width:130px; }
	.searchbox button .btnLi span {	padding:12px 0 11px 10px;}

	table.forms { margin:0; border-collapse: collapse; /*test ben 11/09/07*/ }
	table.forms th, 
	table.forms td { background:none; }
	table.forms th, 
	table.forms td { border-top: none; border-bottom:1px solid #DBDBDB; /*line-height:20px; auskommentiert ben 12/09/07*/ padding:5px 0; }
    tr.special td { border:0; padding:2px 0 0 0;}
	tr.special td input { margin-top:2px;}
	tr.jobsimageupload td { padding: 0 0 5px 0; }
	
	table.noborder tr td,
	tr.noborder td,
	tr.noborder th,
	tr th.noborder,
    tr td.noborder,
	dl dd.noborder, 
	dl dt.noborder, 
	dl.noborder dd, 
	dl.noborder dt,
	div.noborder,      
	li.nobordrer { border:0; }
	
	.forms .labels { text-align:right; }
	
	tr.annuliert_rowselected td { background: #E5E5FF; }
	
/* Button Style */ 

	.buttoncontainer { padding:0 4px 0 0; }
	.buttonbar {padding-top: 10px;/*float:left; width: auto;*/ clear: both; overflow:hidden;}    
	.boxbg .buttonbar { margin-right: 15px; padding-top: 0;}
	button { margin:0 0 0 5px; padding:0; background:none; border:none; cursor:pointer; cursor:hand; overflow:visible; width:auto; float:right; }
	button.iebuttonfix { *width:99.9%;}
	button.btnOption { float: none; margin-right:5px; margin-left:0; }
	button.floatnone { float:none;}
	button.topalign { margin-top:-5px;}
	.btnRe { display: block; padding-right: 10px; background: transparent url('../../img/button-right.gif') right top no-repeat; }
	.btnLi { display: block; height:25px; background: transparent url('../../img/button-left.gif') left top no-repeat; }
	.btnDefault .btnRe { display: block; background-image: url('../../img/button_default-right.gif'); }
	.btnDefault .btnLi { display: block; background-image: url('../../img/button_default-left.gif'); }
	button.disabled { cursor: default; }
	button.disabled .btnRe { display: block; background-position: 100% -50px; }
	button.disabled .btnLi { display: block; background-position: 0 -50px; }
	button.disabled .btnLi span{ color: #999; }
	button .btnLi span { padding: 12px 4px 11px 14px; display:block; line-height: 0em; color:#4d4b49; white-space: nowrap; }
	button.btnDefault .btnLi span{ font-weight:bold; color:#fff; }      
	.buttonbar button { margin-bottom: 10px;}
	.loginText{ color:#fff; }   
	h1 button,
	h2 button		{ margin-top:-5px;}

	table.imgupload {width:579px; margin-bottom:10px;}
	table.imgupload td {padding:0;}
	table.imgupload button {margin:22px 8px 0 0;float:left;}
	table.imgupload input {width:245px;}
		
	
/* footer */ 
	#footer { height:32px; /*background: #fff url(../../img/footer_bg.gif) repeat-x 0 100%;*/ background-color:#fff; border-top:1px solid #c8c8c8; padding:0; color:#858585; }
	#footer p { margin:5px 0 0 15px; /*width:37.5em;*/ line-height:18px;}
	#footer p span { background: transparent url(../../img/logo_footer.gif) bottom right no-repeat; padding: 0 98px 2px 128px; margin-top:-2px;}
	
	.footer2 { width:50%; border-style: none; margin-top:-2px; font-family:verdana !important; background-color:#fff; padding:0; color:#858585; }
	#footer1 { background: transparent url(../../img/logo_footer.gif) bottom right no-repeat; padding: 0 70px 2px 0px; margin-top:-2px;}

	
/* navcontainer */ 
	#navcontainer { width: 190px; }
	#navcontainer ul{ margin-left: 0; padding-left: 0; list-style-type: none; overflow:hidden; }
	#navcontainer li { line-height:20px; }
	#navcontainer a{ display: block; background:url(../../img/nav_bg.gif) repeat-y; border-bottom: 2px groove #fff; padding:4px 12px; padding-left: 25px; _height:1%; }
	#navcontainer a:link, 
	#navlist a:visited{ color: #0C5298; text-decoration: none;  }
	#navcontainer a:hover{ background-color: #DBDBDB; color: #000; background:none; }
	#navcontainer li.open{ display: block; background:#fff; border-bottom: 2px groove #fff; padding:4px 12px 6px 12px; padding-left: 25px; color:#000; }
	#navcontainer li.open a{ background:none; border:0; padding:0; }
	#navcontainer li li { line-height:15px; }
	#navcontainer li.open li a{ margin-top:2px; font-size:11px; }
	#navcontainer li.open li a:hover{ color: #000; }
	#navcontainer li a.active{  color: #000 !important; font-weight:bold; }
	#overview { margin: 0 0 25px 0; background:url(../../img/over.png) no-repeat; height: 160px; }
	.news { width: 300px; }
	li.key{ background: url(../../img/key_icon.gif) 0 0 no-repeat; padding: 3px 0 3px 25px; margin: .4em 0; }
	li.bub{ background: url(../../img/bub_icon.gif) 0 0 no-repeat; padding: 3px 0 3px 25px; margin: .4em 0; }
	li.prc{ background: url(../../img/prc_icon.gif) 0 0 no-repeat; padding: 3px 0 3px 25px; margin: .4em 0; }
	span.blue { color:#0A5599; font-weight:bold; }
	span.grey { color:#99948D; font-weight:bold; }
	span.lightgrey { color:#99948D; font-weight:normal; }
	
	.tabstop, 
	span.tabstop { padding-left: 15px; }
	
/* rounded corners	*/
	.dialog { width:auto; margin:0px auto; background-color: #DBDBDB; margin-bottom: 12px;}
	.dialog .hd .c,
	.dialog .ft .c { height:6px; /* ensure minimum height */ }
	.dialog .hd { background:#DBDBDB url(../../img/tl.gif) no-repeat 0 0; }
	.dialog .hd .c { background:transparent url(../../img/tr.gif) no-repeat top right; }
	.dialog .ft { background:#DBDBDB url(../../img/bl.gif) no-repeat bottom left; padding-top:5px;}
	.dialog .ft .c { background:transparent url(../../img/br.gif) no-repeat bottom right; }
	
	.dialog .hd, .dialog .ft, .boxbg, #sort1, #sort2 {_height:.5%;}
/* portlets */ 
	#portlets, 
	.boxbg { background:#DBDBDB; padding: 10px 0 0 20px;overflow: hidden; }
    .boxbg { padding-right: 15px; font-size: 12px; }
	.boxbg p { padding: 5px 0;}
	.boxbg dd p {margin-top: 1px; margin-bottom: 3px; padding-top: 1px; padding-bottom: 3px;}
	/*.boxbg { padding-right: 15px;  }*/


	/*.boxbg p { width:650px;}*/
	/*.boxbg label { color: #000; }*/
	.boxbg label.light { color: #99948d; }
	#rechnungsadressen, #versandadressen { position:relative; top:-7px;}
	.boxbglist h2{ padding: 0 0 0 20px; }
	.portlets { padding-top:11px; }
	.itemContent,
	.itemContentWide { background:#fff; padding: 5px 0 10px 10px; border-top: 1px solid #A3B8CC;}
	.itemContent dl,
	.itemContentWide dl { width:298px;   float:left;}
	.itemContent ul, 
	.itemContentWide,
	#overview ul { list-style-type:none; }
	.itemContent a.underline,
	.itemContentWide a.underline { text-decoration: underline;}
	.itemContent dt { width:70px; /* new br 16 June partI */  padding-right:10px !important; margin-right:0 !important; }
	.itemContent dt.title { position:relative;}
	.itemContent dt.title strong {width:288px; position:absolute;left:0;top:0; text-align:left; line-height:20px;}
	.itemContent div.title {width:288px; margin-bottom:-5px; font-weight:bold; color:#99948D;} /* variation 2 */
	
/*	.itemContent dd { margin-left: 70px; } */
	.itemContent dd { margin: 0px; padding: 1px; padding-left: 70px; /* new br 16 June partII */  float:left; padding-left:0; width:208px;}
	.itemContentWide dt { width:100px;   padding-right:10px !important; margin-right:0 !important; }
/*	.itemContentWide dd { margin-left: 100px; } */
	.itemContentWide dd { margin: 0px; padding: 1px; padding-left: 100px; /* new br 16 June partIII */  float:left; padding-left:0; width:178px;}
	
	.itemContent dl img { margin:0px 0 -3px 0;}
	
	.groupWrapper { width: 47%; float: left; min-height: 500px; } /* 070820 noelboss - Needed for empty column */ 
	#sort1 { margin-right: 25px; }
	/* important: set minimum height for drag-and-drop*/
	#sort1,
	#sort2 { _height: 400px; min-height: 400px; }
	.serializer { clear: both; }
	.groupItem { margin-bottom: 20px; width: 310px; background-color: #FFF !important; }
	.groupItem .itemHeader { line-height: 28px;  color: #4d4b49; padding: 0 10px; cursor: move; font-weight: normal; font-size: 16px; height: 28px; position: relative; }
	.groupItem .itemHeader a { position: absolute; right: 10px; top:7px; text-decoration: none; line-height: 26px; }
	.sortHelper { border: 1px dashed #a3b8cc; width: 320px !important; }
	.groupWrapper p { height: 1px; overflow: hidden; margin: 0; padding: 0; }
	
	span.black { color: #000; margin-top: 4px;}  
	
	#TB_closeWindowButton { z-index:1;float:left;width:20px; height:20px;background:url(../../img/icon_close.gif) right top no-repeat; cursor: pointer; }
	#TB_closeBar { position:absolute; top:0; right:0;height:20px;width:20px; }
	
	/* Verdana fur header, navigation und footer */
	#header *, #mainnav *, #footer *, h1 {font-family:verdana !important; }
	#navcontainer * { font-size:13px; }
	
	.txt {padding:2px; }
}